:root {
  /* font-family: "Web437_IBM_PS-55"; */
  line-height: 1.5;
  font-family: 'Coral Pixels', sans-serif;
  color-scheme: light dark;
  color: #000000;

  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: url('../cursor/hand.cur'), auto; */
  cursor: url('../cursor/hand_machine_inv.cur'), auto;

}


@font-face {
  font-family: 'Coral Pixels';
  src: url('../fonts/CoralPixels-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}


a {
  color: #00ff00;
  mix-blend-mode:exclusion;
  /* text-decoration: none; */
}

a:visited {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  color: #c0c0c0;
  cursor: url('../cursor/hand.cur'), auto;
  /* text-decoration: none; */
  /* cursor: url('../cursor/point.cur'), auto; */
}

a:active {

  text-decoration: none;
  scale: 0.95;

}


body {
  padding: 5rem;
  background-color: #dddddde0;
  /* user-select: none; */
  /* cursor: url('../cursor/arrow.cur'), auto; */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  /* font-family: "Web437_IBM_PS-55"; */
  height: 100vh;
  overflow: hidden;
  /* height: fit-content; */
  z-index: 999;
  /* mix-blend-mode: luminosity; */
}

h1 {

  font-size: 5.2em;
  color: rgb(255, 0, 0);
  outline-offset: -0.5em;
  /* text-shadow: #888888 1vw 2.5vh 0em; */
  text-align: center;
  /* text-decoration: underline; */
  /* color: blue; */
  line-height: 1.1;
  /* filter: invert(); */
  /* text-decoration: underline; */
  /* mix-blend-mode: hard-light; */
  /* mix-blend-mode: luminosity; */
  /* opacity: 0.5; */

}

h2 {
  position: absolute;
  right: 25vh;
}

img{
  border: #1a1a1a;
  border-style: groove;
  /* filter: invert(); */
  /* width: 100%; */
  /* height: auto; */
}

.em {
  display: inline-block;
  font-style: normal;
  transform: skew(-15deg);
}

#name {

  font-size: 5rem;
  padding: 5vw;
  
}

#info{
  text-align: justify;
  text-justify: inter-word;
  /* background-color: #1a1a1a; */
  cursor: url('../cursor/hand_machine.cur'), auto;
}

#jitterBB {
  display: block;
  position: relative;
  left: 0;
  /* width: 100%; */
  max-width: 50vw;
  min-height: 8em; /* Ensures enough space for scaled text */
  margin-bottom: 2em; /* Space below for grid */
  filter: blur(1px);
  text-align: left;
}

#jitter1, #jitter2 {
  position: fixed;
  height: auto;
  will-change: transform;
  pointer-events: none;
  text-align: left;
  font-size: 3rem;
  padding: 2rem;
  mix-blend-mode: difference;
}

#lifeMachine1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -1;  */
  pointer-events: none; 
  filter: none;
  mix-blend-mode: multiply;
  /* background-color: rgba(255,255,255,0.15);  */
  z-index: 9999; 
  image-rendering: pixelated;
  /* scale: 300%; */
}


#p5-1{

  height: 100vh;
  width: auto;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Space between grid cells */
  padding: 10px;
  height: 100%; /* Full viewport height */
  box-sizing: border-box;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: fit-content;
}

.grid-item.large-horizontal {
  grid-column: span 2; /* Spans 2 columns */
}

.grid-item.large-vertical {
  grid-row: span 2; /* Spans 2 rows */
}

.grid-item.large-area {
  grid-column: span 2;
  grid-row: span 2; /* Spans both rows and columns */
}
#about {
  position: absolute; /* Cover the entire viewport */
  top: 0;
  left: 0;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  /* background-color: #137fa6e0; */
  /* background-color: rgba(45, 45, 45, 0.756);  */
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 99;
  mix-blend-mode: plus-lighter;
  font-size: 1rem;
}


#icons {
  position: fixed;
  top: 2vh;
  right: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  z-index: 99999;
}



.pointer {
  padding: 1em;
  z-index: 999;
}


.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {

  
  body {
    padding: 0.5em;
    zoom: 100%;
    font-size: large;
    overflow-y: auto;
  }

}

*{
  image-rendering: pixelated;
}

@media (prefers-color-scheme: dark) {
  #lifeMachine1 {
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: multiply;
    background-color: rgba(0,0,0,0.15);
  }
}