
:root {
  font-family: "Web437_IBM_PS-55";
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Web437_IBM_PS-55';
  src: url('/src/fonts/Web437_IBM_PS-55_re.woff') format('woff'),
    url('/src/fonts/Web437_IBM_PS-55_re.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  
}


a {
  color: #00ff00;
  mix-blend-mode:exclusion;
  /* text-decoration: none; */
}

a:visited {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  color: #c0c0c0;
  /* text-decoration: none; */
  cursor: url('../cursor/point.cur'), auto;
}

a:active {

  text-decoration: none;
  scale: 0.95;

}


body {
  padding: 5rem;
  background-color: #137fa6e0;
  /* user-select: none; */
  cursor: url('../cursor/arrow.cur'), auto;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: "Web437_IBM_PS-55";
  height: 100vh;
  overflow: hidden;
  /* height: fit-content; */
  z-index: 999;
}

h1 {

  font-size: 5.2em;
  color: rgb(255, 0, 0);
  /* color: blue; */
  line-height: 1.1;
  /* mix-blend-mode: exclusion; */
  /* opacity: 0.5; */

}

h2 {
  position: absolute;
  right: 25vh;
}

img{
  border: #1a1a1a;
  border-style: groove;
  /* filter: invert(); */
  /* width: 100%; */
  /* height: auto; */
}

#name {

  font-size: 5rem;
  padding: 5vw;
  
}

#info{
  text-align: justify;
  text-justify: inter-word;
}

#jitterBB{
  /* transform: scaleY(200%); */
  height: 5vh;
  max-width: 25vw;
  top: 0;
  /* mix-blend-mode: exclusion; */
  z-index: -1;
}

#lifeMachine1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -1;  */
  pointer-events: none; 
  filter: invert();
  mix-blend-mode: darken;
  /* mix-blend-mode: lighten; */
  /* opacity: 0.125; */
  z-index: 9999; 
  image-rendering: pixelated;
  /* scale: 300%; */
}


#p5-1{

  height: 100vh;
  width: auto;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Space between grid cells */
  padding: 10px;
  height: 100%; /* Full viewport height */
  box-sizing: border-box;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: fit-content;
}

/* Consolidation examples */
.grid-item.large-horizontal {
  grid-column: span 2; /* Spans 2 columns */
}

.grid-item.large-vertical {
  grid-row: span 2; /* Spans 2 rows */
}

.grid-item.large-area {
  grid-column: span 2;
  grid-row: span 2; /* Spans both rows and columns */
}
#about {
  position: absolute; /* Cover the entire viewport */
  top: 0;
  left: 0;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  background-color: #137fa6e0;
  /* background-color: rgba(45, 45, 45, 0.756);  */
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 99;
  mix-blend-mode: plus-lighter;
  font-size: 1rem;
}


#icons {
  position: fixed;
  top: 2vh;
  right: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  z-index: 99999;
}



.pointer {
  padding: 1em;
  z-index: 999;
}


.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {

  
  body {
    padding: 0.5em;
    zoom: 100%;
    font-size: large;
    overflow-y: auto;
  }

}

*{
  image-rendering: pixelated;
}